/* EFECTOS NIVEL 3: DISCORD Y COMUNIDAD */

#comunidad {
    position: relative;
    overflow: hidden;
}

#comunidad .link-card {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    color: #5865F2; /* Color Blurple de Discord */
    border: 1px solid rgba(88, 101, 242, 0.3);
    background-image: radial-gradient(circle at right, rgba(88, 101, 242, 0.4), rgba(88, 101, 242, 0.1), transparent 80%);
    animation: bucleDiscord 4s ease-in-out infinite;
    z-index: 1;
    margin-bottom: 10px;
}

/* --- EL COPO DE NIEVE (SVG) --- */
#comunidad .link-card::after {
    content: "";
    position: absolute;
    top: 0; 
    right: -5px; 
    width: 80px; 
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' fill-opacity='0.3'%3E%3Cpath d='M22,11h-4.17l3.24-3.24l-1.41-1.41L15.41,10H13V7.59l3.66-3.66l-1.41-1.41L12,5.76V2h-2v3.76L6.76,2.51L5.34,3.93L9,7.59V10H6.59 L2.93,6.34L1.51,7.76L4.76,11H0.5v2h4.26l-3.24,3.24l1.41,1.41L6.59,14H9v2.41l-3.66,3.66l1.41,1.41L10,18.24V22h2v-3.76l3.24,3.24 l1.41-1.41L13,16.41V14h2.41l3.66,3.66l1.41-1.41L17.24,13H21.5V11z'/%3E%3C/svg%3E");
    background-size: 55px; 
    background-repeat: no-repeat; 
    background-position: right center;
    z-index: 5; 
    mix-blend-mode: screen;
    animation: brilloDiscordHielo 5s ease-in-out infinite;
}

/* --- LOS ICONOS --- */
#comunidad .link-card i {
    width: 35px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    z-index: 10;
    transition: 0.3s;
}

#comunidad .link-card span {
    position: relative;
    z-index: 10;
    font-weight: 600;
}

/* --- ANIMACIONES --- */
@keyframes bucleDiscord {
    0%, 100% { background-color: #ffffff; color: #5865F2; border-color: rgba(88, 101, 242, 0.3); }
    50% { background-color: #5865F2; color: #ffffff; border-color: #ffffff; box-shadow: 0 0 15px rgba(88, 101, 242, 0.4); }
}

@keyframes brilloDiscordHielo {
    0%, 100% { opacity: 0.4; transform: rotate(0deg); }
    50% { opacity: 0.8; transform: rotate(-10deg) scale(1.1); }
}